* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    color: white;
    background-color: purple;
}

section {
    height: fit-content;
    padding: 50px 0;
}

#container {
    /* display: flex; */
    margin: 100px 0;
}

#switcher {
    padding: 50px 0;
}

#btn {
    height: 30p;
    width: 70px;
    padding: 5px 0;
}